.container-printer {
    width: 800px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.container-head {
    display: flex;
    flex-direction: row;
}

.container-head > img {
    width: 300px;
    height: 300px;
}

.container-head > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.whatsapp {
    background-color: green;
    color: white;
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
}

.whatsapp img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}