.btn {
    display: flex;
    align-items: center;
    background: var(--complementary);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background: var(--dark);
    transform: translateY(-2px);
}