.printers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow-x: auto;
    white-space: nowrap; 
}

.printer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 350px;
    margin-right: 40px;
}

.printer:hover {
    cursor: pointer;
}

.printer > p {
    white-space: normal; 
}

.printer > * {
    width: 100%;
}

.printer > img {
    margin-top: 1rem;
    width: 70%;
}

.printer > a > div {
    background-color: #075E54;
}

.printer > a > div:hover {
    background-color: #128c7e;
}

.printer > a > div {
    width: 80%;
    height: 2rem;
} 

.printer > a > div > h4 {
    font-size: 0.9rem;
    font-weight: 400;
}

.printer > a > div > img {
    height: 1rem;
    margin-right: 0.5rem;
}
