.close:hover {
    cursor: pointer;
}

.container-printer {
    padding: 1rem;
    width: 40rem;
    height: auto;
}

.container-printer> :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-printer> :nth-child(1)>img {
    height: 1.8rem;
}

.container-head {
    display: flex;
    justify-content: space-around;
}

.container-head h1 {
    font-size: 1.7rem;
}

.container-head h2 {
    font-size: 1rem;
}

.container-head>img {
    width: 220px;
    height: 220px;
}

.head-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.whatsapp {
    background-color: #075E54;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 0.3rem;
}

.whatsapp p {
    font-size: 0.5rem;
}

.whatsapp img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.head-details ul {
    padding-left: 20px;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    width: 40rem;
}

.btn-features {
    border-bottom: 4px solid #03548A;
    color: #03548A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0rem 0.4rem 0rem;
}

.btn-features p {
    font-weight: 600;
    margin: 0px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

th,
td {
    padding: 10px 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: none;
    width: 50%;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #e7f3ff;
}

@media (min-width: 320px) and (max-width: 500px) {

    .close {
        max-width: 20px;
        max-height: 20px;
        margin-bottom: 16px;
    }

    .container-printer {
        max-width: 500px;
        border: 0px;
    }

    .container-head {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .container-head > img, .head-details > ul, .head-details > h2, .head-details > h1 {
        margin-bottom: 10px;
    }

    .feature {
        width: auto;
    }

    th,
    td {
        font-size: 0.8rem;
    }
}